body {
  text-shadow: 0px 0px 5px white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/bg.jpg');
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.7;
}
header h1 {
  color: black;
}
#menu a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: black;
}
#menu a:hover,
#menu a:focus {
  color: white;
  text-shadow: 0px 0px 5px black;
}
#menu .menu-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu .menu-box img {
  width: 80px;
  height: 80px;
}
.modal-body {
  word-wrap: break-word;
}
